.page {
  .container {
    .container-right {
      display: flex;
      align-items: center;
      .content-about {
        background-color: rgba(255,255,255,0.6);
        height: 100%;
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 10px black;
        text-align: justify;
        padding: 10px;
        
        .text-about {
          padding: 20px;
          color: #000;
        }
      }

      .border-efect {
        height: 80%;
        width: 3px;
        background-color: #99D8CD;
        opacity: 0.7;
        margin-left: 10px;
        box-shadow: 0px 0px 5px #000;
      }
    }
  }
}